
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 231, 227);
    font-family: 'Quicksand', sans-serif;
}
main {
    display: grid;
    grid-template-columns: repeat(3, 350px) ;
}

.big-square-container {
    background-color: rgb(234, 231, 227);

}

.big-square {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 20px;
    justify-content: center;
}
.small-square {
    
    background-color: rgb(237, 130, 8);
    border: none;
    color: rgb(234, 231, 227);
    font-size: 70px;
}

.play-again-container {
    display: flex;
    justify-content: center; 
}
.play-again-button{
    min-height: 60px;
    min-width: 340px;
    margin-top: 50px;
    color: rgb(237, 130, 8);
    border: none;
    border-radius: 20px;
    background-color: rgb(234, 231, 227);
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;

}
.player-score{
    display: flex;
    flex-direction: column;
    justify-content: top;
    text-align: center;
    font-size: 20px;
    color: rgb(237, 130, 8);
    
}
h2 {
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: 50px;
}
header {
    position: absolute;
    margin-bottom: 700px;
    font-size: 100px;
    color: rgb(237, 130, 8);
}




